<% include ../partials/header %>
<body class="container">

    <header>
       
    </header>

    <main>
        <div class="jumbotron">
            <div class="cntnt"><h1 id="name" class="pull-left"><%= item.name %></h1>
            <span class="pull-right"><b>Price : <%= item.price %></span></b></div>
            <div class="pimg"><img id="img" src="../uploads/<%= item.imgUrl %>"></div>
            <p><b>Description</b> : <%= item.desc %></p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>