<% include ../partials/header %>

    <main class="home">
        <div class="jumbotron">
            <h2>Categories</h2>
            <ul>
                    <li><a href="categories/car"><i class="fa fa-car"></i>CAR</a></li>
                    <li><a href="categories/mobile"><i class="fa fa-mobile"></i>MOBILE</a></li>
            </ul>
    </main>

<% include ../partials/footer %>