<% include ../partials/header %>
<body class="container">

    <header>
       
    </header>

    <main>
        <div class="jumbotron">
            <h1>THANKS FOR SUBMITING AD</h1>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>